<br>
<br>
<br>
<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose|  %>
 <%= link_to "Delete", dose_path(dose), method: :delete %> <%= dose.description %> - <%= dose.ingredient.name %>
<% end %>
<br>
<% @cocktail.ingredients.each do |ingredient| %>
<%= ingredient.name %>
<% end %>

<% unless  @cocktail.photo.attachment.nil? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<%= link_to "Destroy", cocktail_path(@cocktail), method: :delete %> |||
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail)  %>