<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose|  %>
  <%= dose.description %> - <%= dose.ingredient.name %>
<% end %>

<%= link_to "Back to all cocktails", cocktails_path  %> ||
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail)  %>